*{
	margin:0px;
	padding: 0px;
}

body{
	font-family: dm mono;
}

h1{
	text-align: center;
	margin: 50px;
}

div{
	float: left;
	width: 29%;
	border: 2px solid black;
	margin: 10px;
	padding: 5px;
	background-color: #999999;
}

h2{
	float: right;
	width: 30%;
	text-align: center;
	border: 2px solid black;
	margin-top: -7px;
	margin-right: -7px;
}

p{
	clear: both;
	padding: 10px;
}

h2.section-1 {
	background-color: #D59897;
}

h2.section-2{
	background-color: #c14643;
	color: white;
}

h2.section-3{
	background-color: #e5d298;
} 

@media (max-width: 991px) and (min-width:767px) {

	div{
	float: left;
	border: 2px solid black;
	margin: 10px;
	padding: 5px;
	background-color: #999999;
}

.section-1{
	width: 44%;
}

.section-2{
	width: 44%;
}

.section-3{
	width: 92%
}

h2.section-3{
	float: right;
	width: 30%;
	text-align: center;
	border: 2px solid black;
	margin-top: -7px;
	margin-right: -7px;
}

}

@media (max-width: 767px){
	div{
		width: 94%;
	}
}